<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
		<%= link_to "Home", root_path %>
	</li>
    <li class="breadcrumb-item active" aria-current="page">New Survey</li>
  </ol>
</nav>

<h1 class="pb-4 mt-4 mb-4 border-bottom">New Survey</h1>

<%= render "surveys/partials/newform" %>